<header class="flex items-center justify-between px-8 border-b">
    <img class="w-16 h-16" src="novelya-icon.jpg" alt="" />

    <div class="flex w-full max-w-lg items-center gap-2">
        <input class="w-full" hlmInput type="email" placeholder="Search for a light novel" />
        <button hlmBtn size="icon" variant="outline" class="">
            <ng-icon hlm size="sm" name="lucideSearch" />
        </button>
    </div>

    <div class="flex gap-4">
        <button hlmBtn routerLink="/auth/register">
            <ng-icon hlm size="sm" name="lucideLogIn" />
            Sign Up
        </button>
        <button hlmBtn routerLink="/auth/login">
            <ng-icon hlm size="sm" name="lucideUserPlus" />
            Login
        </button>
    </div>
</header>
