<div class="grid grid-cols-5 gap-10 w-fit mx-auto">
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card [image]="'horror.jpg'" [genreName]="'Horror'"></app-genre-card>
    <app-genre-card
        [image]="'horror.jpg'"
        [genreName]="'Horror'"
        class="col-start-3"
    ></app-genre-card>
</div>
